<ion-view title="Guided Meditations">

  <!--    Toggle delete buttons -->
  <ion-nav-buttons side="primary">
      <button class="button button-icon icon ion-minus-circled" ng-click="toggleShowDelete()"></button>
  </ion-nav-buttons>

  <ion-content padding="true">
      <ion-list show-delete="shouldShowDelete">
          <ion-item ng-repeat="meditation in guidedMeditations" class="item-icon-right">
            <ion-delete-button class="ion-minus-circled" ng-click="removeMeditation(meditation)"></ion-delete-button>
            <i
              class="icon ion-ios-arrow-right"
              ui-sref="tabs.guidedmeditationPlayer({id: meditation.id})"></i>
            <span class="{{meditation.cssClass}}">{{meditation.title}}</span>
          </ion-item>
      </ion-list>
  </ion-content>
</ion-view>
