<ion-view>
  <ion-nav-title>{{title}}</ion-nav-title>
  <ion-content padding="true">
    <h2 class="ticker-time-remaining">{{data.progress | hmsString}}</h2>
    <div class="row">
      <div class="col controls-col"><play-button ng-click="play()">Play</play-button></div>
      <div class="col controls-col">
        <button class="button button-positive" ng-click="stop()"><i class="icon icon-medium ion-stop"></i></button>
      </div>
    </div>
    <div class="list">
      <div class="item range range-positive">
        <span>0:00</span>
        <input
            type="range"
            name="progress"
            ng-model="data.progress"
            min="0"
            max="{{data.duration}}"
            step="1"
            ng-change="updateProgress()">
        <span>{{data.duration | hmsString}}</span>
      </div>
    </div>
  </ion-content>
</ion-view>
