<ion-view title="Meditation Timer">
    <ion-content padding="true">
    <h1 id="meditation-timer-time-remaining">
      {{getDuration()|hmsString}}
    </h1>
    <div class="row">
      <div class="col controls-col">
        <play-button ng-click="start()"></play-button>
      </div>
      <div class="col controls-col">
        <button class="button button-positive" ng-click="stop()"><i class="icon icon-medium ion-stop"></i></button>
      </div>
    </div>
      <div class="list">
        <label class="item item-input item-select">
          <div class="input-label">
            Hours
          </div>
          <select ng-model="config.hours">
            <option ng-repeat="i in 0|range:24"
                    ng-selected="config.hours == i"
                    value="{{i}}">{{i}}</option>
          </select>
        </label>
        <label class="item item-input item-select">
          <div class="input-label">
            Minutes
          </div>
          <select ng-model="config.minutes">
            <option ng-repeat="i in (0|range:59)"
                    ng-selected="config.minutes == i"
                    value="{{i}}">{{i}}</option>
          </select>
        </label>
        <label class="item item-input item-select">
          <div class="input-label">
            Seconds
          </div>
          <select ng-model="config.seconds">
            <option ng-repeat="i in (0|range:59)"
                    ng-selected="config.seconds == i"
                    value="{{i}}">{{i}}</option>
          </select>
        </label>
      <div class="item item-divider">
        Mindful Bell
      </div>
        <label class="item item-input item-select">
          <div class="input-label">
            Interval
          </div>
          <select ng-model="config.bellInterval">
            <option ng-repeat="i in (1|range:60)"
                    ng-selected="config.bellInterval == i"
                    value="{{i}}">{{i}}</option>
          </select>
        </label>
        <label class="item item-input item-select">
          <div class="input-label">
            Units
          </div>
          <select ng-model="config.bellUnit">
            <option ng-selected="config.bellUnit == BellUnit.SECONDS" ng-value="BellUnit.SECONDS">Seconds</option>
            <option ng-selected="config.bellUnit == BellUnit.MINUTES" ng-value="BellUnit.MINUTES">Minutes</option>
          </select>
        </label>
      </div>
      <!-- <button type="button" ng-click="resume()">Resume</button> -->
    </ion-content>
</ion-view>
