<ion-view title="Mindful Minutes">
  <!--    Create new mindful minute -->
  <ion-nav-buttons side="secondary">
      <button class="button button-icon icon ion-plus-circled" ng-click="newMindfulMinute()"></button>
  </ion-nav-buttons>

  <!--    Toggle delete buttons -->
  <ion-nav-buttons side="primary">
      <button class="button button-icon icon ion-minus-circled" ng-click="toggleShowDelete()"></button>
  </ion-nav-buttons>

  <!--    The list -->
  <ion-content padding="true">
      <ion-list show-delete="shouldShowDelete">
          <ion-item ng-repeat="mindfulMinute in mindfulMinutes | orderBy : timeExpr">
              <ion-delete-button class="ion-minus-circled" ng-click="removeMindfulMinute(mindfulMinute)"></ion-delete-button>
              <p ng-click="edit(mindfulMinute)">{{ mindfulMinute.timeOfDay | date : 'shortTime'}}</p>
          </ion-item>
      </ion-list>
  </ion-content>
</ion-view>
