<ion-view title="Stats">
    <ion-content padding="true">
      <ion-list>
        <ion-item>
          <h2>Sessions Per Week</h2>
          <p>
            {{stats.practiceSessionsPerWeek}}
          </p>
        </ion-item>
        <ion-item>
          <h2>Time Per Week</h2>
          <p>
            {{stats.timePracticedPerWeek | mtos | hmsString}}
          </p>
        </ion-item>
        <ion-item>
          <h2>Weeks Running</h2>
          <p>
            {{stats.numWeeks}}
          </p>
        </ion-item>
        <ion-item>
          <i
          class="button button-icon ion-close-round"
          ng-click="clearStats()"></i>
          Clear Stats
        </ion-item>
        <ion-item>
          <i
          class="button button-icon ion-close-round"
          ng-click="resetHelptips()"></i>
          Reset Helptips
        </ion-item>
        <ion-item>
          <i
          class="button button-icon ion-close-round"
          ng-click="removeGuidedMeditations()"></i>
          Remove Guided Meditations
        </ion-item>
      </ion-list>
    </ion-content>
</ion-view>
