<ion-tabs class="tabs-icon-top tabs-positive">
    <ion-tab icon="ion-ios-bell" ui-sref="tabs.mindfulminutes">
        <ion-nav-view name="mindfulminutes-tab"></ion-nav-view>
    </ion-tab>
    <ion-tab icon="ion-clock" ui-sref="tabs.meditationtimer">
        <ion-nav-view name="meditationtimer-tab"></ion-nav-view>
    </ion-tab>
    <ion-tab icon="ion-play" ui-sref="tabs.guidedmeditationList">
        <ion-nav-view name="guidedmeditation-tab">
        </ion-nav-view>
    </ion-tab>
    <ion-tab icon="ion-arrow-graph-up-right" ui-sref="tabs.stats">
        <ion-nav-view name="stats"></ion-nav-view>
    </ion-tab>
</ion-tabs>
