#meditation-timer-time-remaining, .ticker-time-remaining {
  text-align: center;
  font-weight: lighter;
  font-size: 500%;
}

div.controls-col {
  text-align: center
}

.gm-here {
  color: #000
}

.gm-not-here {
  color: #888
}
